<div class="col-sm-12">
    <div class="pull-right" style="margin: 20px 0px;">
        <button style="margin-left: 10px" *ngIf="userType == 'admin'" mat-raised-button class="pull-right add-hover btn-success" (click)="showChildModal()">
            <mat-icon>add</mat-icon> Add Action
        </button>
        <button mat-raised-button class="pull-right btn-primary" style="color:white; background:#3b7bb8">
            <mat-icon>view_column</mat-icon> Grid Columns
        </button>
        <button mat-raised-button color="primary" style="min-width: 110px;background-color: #e0e0e0;
                    color: black;" class="pull-right filters-hover margin-right-10" >
            Next
            <mat-icon>skip_next</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" style="background-color: #e0e0e0;
                    color: black;" >
            <mat-icon>skip_previous</mat-icon> Previous
        </button>
        <button mat-raised-button color="primary" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
            <mat-icon>filter_list</mat-icon> Filter
        </button>
    </div>
</div>

<div class="table-responsive w-100 col-sm-12" style="padding-top: 0px!important;">
    <table id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
            <tr class="tr-grid-header">
                <th>Action Title</th>
                <th>Job Code</th>
                <th>Action Type</th>
                <th>Site Name</th>
                <th>SOW Name</th>
                <th>Task</th>
                <th class="text-center">Plan Hours</th>
                <th class="text-center">Actual Hours</th>
                <th>Due Date </th>
                <th>Action Details</th>
                <th>Status</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ActionsData">
                <td>{{item.action}}</td>
                <td>{{item.jobCode}}</td>
                <td>{{item.actionType}}</td>
                <td>{{item.siteName}}</td>
                <td>{{item.sowName}}</td>
                <td>{{item.task}}</td>
                <td class="text-center">{{item.planHours}}</td>
                <td class="text-center">{{item.planHours}}</td>
                <td>{{item.dueDate}}</td>
                <td>{{item.actiondetails}}</td>
                <td>
                    {{item.status}}
                </td>
                <td class="text-center">
                    <a matTooltip="Edit Details" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a>
                        <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete" class="fa fa-trash red"></i>
                    </a>
                </td>

            </tr>

        </tbody>
    </table>
</div>

<div bsModal #addSowModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">
                    <b>Add Action</b>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <!-- <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Action Title: </label>
                        <div class="col-sm-7">
                            <input class="form-control" placeholder="Enter Action Title" type="text">
                        </div>
                    </div> -->
                    <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Select Job Code (s): </label>
                        <div class="col-sm-7">
                            <mat-select placeholder="--Select Job Code--" class="form-control" multiple>
                                <mat-option  *ngFor="let option of JobCodes" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <!-- <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Select Action Type: </label>
                        <div class="col-sm-7">
                            <mat-select placeholder="--Select Action Type--" class="form-control">
                                <mat-option *ngFor="let option of ActionTypes" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </div>
                    </div> -->
                    <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Select Site: </label>
                        <div class="col-sm-7">
                            <mat-select placeholder="--Select Site--" class="form-control">
                                <mat-option *ngFor="let option of Sites" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Select SOW Name: </label>
                        <div class="col-sm-7">
                            <mat-select placeholder="--Select SOW Name--" class="form-control">
                                <mat-option *ngFor="let option of SOWs" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Select Task: </label>
                        <div class="col-sm-7">
                            <mat-select placeholder="--Select Task--" class="form-control">
                                <mat-option *ngFor="let option of Tasks" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Planned Hours: </label>
                        <div class="col-sm-7">
                            <input class="form-control" placeholder="Enter Planned Hours" type="text">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Select Due Date: </label>
                        <div class="col-sm-7">
                            <!-- <input type="date" class="form-control" id="price" placeholder="Enter Due Date"> -->
                            <input type="text" placeholder="Select Date" class="form-control" bsDatepicker placement="bottom" [bsConfig]="{containerClass: 'theme-dark-blue',dateInputFormat: 'YYYY-MM-DD' }">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-5 control-label add-member-label">Instructions: </label>
                        <div class="col-sm-7">
                            <!-- <textarea class="form-control txtarea" rows="2" placeholder="Enter Instructions" autocomplete="off"></textarea> -->
                            <app-ngx-editor height="100px" minHeight="50px" [placeholder]="'Enter Instructions'" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                            <label class="col-sm-5 control-label add-member-label">Upload: </label>
                            <div class="col-sm-7">
                                    <input type="file" multiple>
                            </div>
                    </div>
                </div>



            </div>
            <mat-dialog-actions align="end" style="margin: 0px 20px 20px 0px;">
                <button mat-raised-button class="add-dark-hover btn-default" (click)="hideChildModal()" style="margin-right: 3px;">Cancel</button>
                <button mat-raised-button style="margin-left: 5px;margin-right: 3px;" class="btn-success" (click)="hideChildModal()">Save  & Create</button>
                <button mat-raised-button style="margin-left: 5px;margin-right: 20px;" class="btn-success" (click)="hideChildModal()">Save</button>
            </mat-dialog-actions>
        </div>
    </div>
</div>