<div class="w-100">
  <div class="flex-p">
    <div class="col-sm-12 no-padding" style="height: 150px;">
      <mat-card>
        <!-- <div class="col-sm-2 padding-left-1" style="padding-right: 5px"> -->
        <!-- <mat-card class="col-sm-12" style="height: 388px"> -->

        <!-- <div class="header-band" style="text-align: center;">
                    <label style="text-align: center"><span>
                        <h5 style="font-weight: bold;font-size: 16px;">Actions Summary</h5>
                      </span></label>
                  </div> -->
        <!-- <div style="margin-top: 3px;">
                    <div class=""> -->

        <div class="col-xs-4">
          <div class="margin-top-8">
            <div class="dashboard-stat blue-madison">
              <div class="visual">
                <i class="fa fa-comments"></i>
              </div>
              <div class="details" style="padding-right: 10px;">
                <div class="number">
                  450
                </div>
                <div class="desc" style="padding-right: 0px;">
                  Completed
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="margin-top-8">
            <div class="dashboard-stat gray-madison">
              <div class="visual">
                <i class="fa fa-skyatlas"></i>
              </div>
              <div class="details" style="padding-right: 10px;">
                <div class="number">
                  465
                </div>
                <div class="desc" style="padding-right: 0px;">
                  Assigned
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="margin-top-8">
            <div class="dashboard-stat pyellow-madison">
              <div class="visual">
                <i class="fa fa-free-code-camp"></i>
              </div>
              <div class="details" style="padding-right: 10px;">
                <div class="number">
                  15
                </div>
                <div class="desc" style="padding-right: 0px;">
                  Overdue
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <!-- </div>
        
                  </div> -->

      <!-- </mat-card> -->
      <!-- </div> -->
    </div>
    <div class="col-sm-12 no-padding">

      <div class="col-sm-8" style="padding-right: 1px; padding-left: 0px !important;">
        <mat-card class="col-sm-12" style="height: 388px">
          <div class="header-band" style="text-align: center;">
            <label style="text-align: center">
              <span>
                <h5 style="font-weight: bold;font-size: 16px;">Active Actions</h5>
              </span>
            </label>
          </div>
          <div class="" style="margin-top: 10px;">
            <div class="w-100 ">
              <div id="actions" class="table-responsive">
                <table id="action" class="table table-striped table-bordered table-hover">
                  <thead class="tbl-head">

                    <tr class="tr-grid-header">
                      <th rowspan="2" style="text-align:center!important;vertical-align: middle; min-width: 80px;">Project #</th>
                      <th rowspan="2" style="vertical-align: middle; min-width: 83px;;">Site</th>
                      <th rowspan="2" style="vertical-align: middle; min-width: 80px;">SOW</th>
                      <th rowspan="2" style="vertical-align: middle;">Task</th>
                      <th rowspan="2" style="vertical-align: middle; min-width: 100px;">Assigned To</th>
                      <th rowspan="2" style="vertical-align: middle; min-width: 100px;">Due Date</th>
                      <th rowspan="2" style="vertical-align: middle;">Projected Completion Date</th>
                      <th colspan="2" class="text-center" style="vertical-align: middle;">Hours</th>

                      <th rowspan="2" style="vertical-align: middle;">Details</th>
                    </tr>
                    <tr>
                      <th class="center" style="vertical-align: middle;">Planned</th>
                      <th class="center" style="vertical-align: middle;">Remaining</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of assignedactions">
                      <td style="text-align:center!important">
                        <a href="/#/IBW/manage/project-dashboard" target="_blank">{{item.projectnumber}}</a>
                      </td>
                      <td>
                        <a href="/#/IBW/manage/project-dashboard" target="_blank">{{item.site}}</a>
                      </td>
                      <td>{{item.sow}}</td>
                      <td>{{item.task}}</td>
                      <td>{{item.assignedto}}</td>
                      <td>{{item.duedate}}</td>
                      <td>{{item.completionDate}}</td>
                      <td class="center">{{item.hours}}</td>
                      <td class="center">{{item.remaininghours}}</td>
                      <td class="inner-screen">{{item.details}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-sm-4 padding-right-1" style="padding-left: 5px;">
        <mat-card class="col-sm-12" style="height: 388px;">
          <div class="header-band" style="text-align: center;">
            <label style="text-align: center">
              <span>
                <h5 style="font-weight: bold;font-size: 16px;">My Resource Overview</h5>
              </span>
            </label>
          </div>
          <div style="margin-top: 10px;">
            <div class="w-100 ">
              <div id="actions" class="table-responsive">
                <table id="action" class="table table-striped table-bordered table-hover">
                  <thead class="tbl-head">
                    <tr class="tr-grid-header">
                      <th>Asset</th>
                      <th>Asset Name</th>
                      <th>Assigned Date</th>
                      <th class="center">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of assetoverview">
                      <td>
                        <a>{{item.assetNo}}</a>
                      </td>
                      <td>
                        <a>{{item.assetName}}</a>
                      </td>

                      <td [ngClass]="{redBackground: item.assetNo == 'QO-458'}">{{item.fromdate}}</td>
                      <!-- <td [ngClass]="{redBackground: item.assigned == 'QO-458'}">{{item.todate}}</td> -->

                      <td [ngClass]="{redBackground: item.assetNo == 'QO-458'}" class="text-center">
                        <!-- <mat-checkbox class="primary" (click)="openReturnModal()"></mat-checkbox> -->
                        <a matTooltip="Return Asset" (click)="openReturnModal()" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#2f941cd1">
                          <i class="fa fa-arrow-circle-right"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-sm-12 no-padding margin-top-15">
      <app-google-maps></app-google-maps>
    </div>
    <!-- <mat-card class="col-sm-12 margin-top-15">
        <div class="header-band" style="text-align: center;">
          <label style="text-align: center"><span>
              <h5 style="font-weight: bold;font-size: 16px;">All Project Actions, Pending or Scheduled</h5>
            </span></label>
        </div>
        <div class="col-sm-12 no-padding margin-top-8">
            <div class="" style="padding:0px">
                <div class="w-100 ">
                  <div id="actions" class="table-responsive w-100">
                    <table id="action" class="table table-striped table-bordered table-hover">
                      <thead class="tbl-head">
                        <tr class="tr-grid-header">
                          <th style="text-align:center!important">Project Number</th>
                          <th>Site</th>
                          <th>SOW</th>
                          <th>Task</th>
                          <th>Due Date</th>
                          <th class="center">Hours</th>
                          <th>Details</th>
                          <th>Status</th>
                          <th>Assigned to</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of assignedactions">
                          <td style="text-align:center!important">{{item.projectnumber}}</td>
                          <td>{{item.site}}</td>
                          <td>{{item.sow}}</td>
                          <td>{{item.task}}</td>
                          <td>{{item.duedate}}</td>
                          <td class="center">{{item.hours}}</td>
                          <td>{{item.details}}</td>
                          <td>{{item.status}}</td>
                          <td>{{item.assignedto}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
      </mat-card> -->

    <mat-card class="col-sm-12 margin-top-15">
      <div class="header-band" style="text-align: center;">
        <label style="text-align: center">
          <span>
            <h5 style="font-weight: bold;font-size: 16px;">Action Analytics</h5>
          </span>
        </label>
      </div>
      <div class="col-sm-12 margin-top-8">
        <mat-card class="col-sm-12">
          <div class="" [chart]="barChart"></div>
        </mat-card>
      </div>
      <div class="col-sm-12 margin-top-8">
        <mat-card class="col-sm-12">
          <div class="" [chart]="barChart1"></div>
        </mat-card>
      </div>
    </mat-card>





  </div>
</div>

<div bsModal #ReturnModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header modal-header">
        <h4 style="font-weight: 300; " id="dialog-child-name" class="modal-title pull-left">
          <b>Asset Update</b>
        </h4>
      </div>
      <div class="modal-body">
        <label>
          <b>Please confirm that the asset is returned as per the follwing details.</b>
        </label>

        <div class="col-sm-12" style="margin-top: 20px">
          <div class="col-sm-6"> Asset:</div>
          <div class="col-sm-6">
            <label>PC-374</label>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px">
          <div class="col-sm-6"> Asset Name:</div>
          <div class="col-sm-6">
            <label>Personal Computer IBW-120</label>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px">
          <div class="col-sm-6">Assigned Date:</div>
          <div class="col-sm-6">
            <label>2019-06-25</label>
          </div>
        </div>
        <!-- <div class="col-sm-12" style="margin-top: 10px">
          <div class="col-sm-6">Due Date:</div>
          <div class="col-sm-6"><label>2019-06-29</label> </div>
        </div> -->
        <div class="col-sm-12" style="margin-top: 10px">
          <div class="col-sm-6">Previous Condition:</div>
          <div class="col-sm-6">
            <label>Excellent</label>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px">
          <div class="col-sm-6 add-member-label">Current Condition:</div>
          <div class="col-sm-6">
            <mat-select placeholder="--Select Current Condition--" class="form-control" [(ngModel)]="result">
              <mat-option *ngFor="let option of currentconditionTypes" [value]="option.id">{{option.value}}</mat-option>
            </mat-select>
          </div>
        </div>
        <!-- <div class="col-sm-12" style="margin-top: 10px" *ngIf="result != null && result != 0">
          <div class="col-sm-6">Return & Replace:</div>
          <div class="col-sm-4">
            <mat-checkbox class="primary"></mat-checkbox>
          </div>
        </div> -->
        <div class="col-sm-12" style="margin-top: 10px">
          <div class="col-sm-6 add-member-label">Remarks:</div>
          <div class="col-sm-6">
            <textarea class="form-control txtarea" rows="2" placeholder="Enter Remarks"></textarea>
          </div>
        </div>

      </div>
      <mat-dialog-actions align="center" style="padding-top: 10px !important; padding-bottom: 10px;">
          <button mat-raised-button class="add-dark-hover btn-default" style="margin-right:10px;" (click)="hideReturnModal()">
              <mat-icon>cancel</mat-icon>
              <span>&nbsp;Cancel</span>
          </button>
          <button mat-raised-button style="background: #286ba5 !important" class="add-hover btn-success" (click)="hideReturnModal()">
              <mat-icon>send</mat-icon>
              <span>&nbsp;Update</span>
          </button>
      </mat-dialog-actions>
    </div>
  </div>
</div>






























































<!-- 
<div class="w-100">
  <div class="flex-p" style="padding-left: 22px!important;">
    <div class="row wrap">
      <div class="col-lg-3 header-band">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="text-align: center;margin-top: -10px!important;">
          <label style="text-align: center"><span>
              <h5 style="font-weight: bold;font-size: 14px;">My Actions Summary</h5>
            </span></label>
        </div>
      </div>
      <div class="col-lg-5 header-band">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="text-align: center;margin-top: -10px!important;">
          <label style="text-align: center"><span>
              <h5 style="font-weight: bold;font-size: 14px;">My Assigned Actions</h5>
            </span></label>
        </div>
      </div>
      <div class="col-lg-3 header-band" style="min-width: 20%!important">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="text-align: center;margin-top: -10px!important;">
          <label style="text-align: center"><span>
              <h5 style="font-weight: bold;font-size: 14px;">My Asset Overview</h5>
            </span></label>
        </div>
      </div>
    </div>
    <div class="row wrap" style="padding-bottom:10px">
      <div class="col-lg-3" style="background-color:#fafafa;border:1px solid #cccccc;margin-right: 15px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p">
          <div class="row ">
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
              <div class="w-100 flex-p">
                <div class="dashboard-stat blue-madison">
                  <div class="visual">
                    <i class="fa fa-comments"></i>
                  </div>
                  <div class="details" style="padding-right: 10px;">
                    <div class="number">
                      55
                    </div>
                    <div class="desc" style="padding-right: 0px;">
                      Completed
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
              <div class="w-100 flex-p">
                <div class="dashboard-stat gray-madison">
                  <div class="visual">
                    <i class="fa fa-skyatlas"></i>
                  </div>
                  <div class="details" style="padding-right: 10px;">
                    <div class="number">
                      40
                    </div>
                    <div class="desc" style="padding-right: 0px;">
                      Assigned
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
              <div class="w-100 flex-p">
                <div class="dashboard-stat pyellow-madison">
                  <div class="visual">
                    <i class="fa fa-free-code-camp"></i>
                  </div>
                  <div class="details" style="padding-right: 10px;">
                    <div class="number">
                      20
                    </div>
                    <div class="desc" style="padding-right: 0px;">
                      Overdue
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5" style="background-color:#fafafa;border:1px solid #cccccc;margin-right: 15px;padding: 0px">
        <div class="w-100 ">
          <div id="actions" class="table-responsive w-100" style="padding: 5px 6px 0px 5px">
            <table id="action" class="table table-striped table-bordered table-hover">
              <thead class="tbl-head">
                <tr class="tr-grid-header">
                  <th style="text-align:center!important">Project Number</th>
                  <th>Site</th>
                  <th>SOW</th>
                  <th>Task</th>
                  <th>Hours</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of assignedactions">
                  <td style="text-align:center!important">{{item.projectnumber}}</td>
                  <td>{{item.site}}</td>
                  <td>{{item.sow}}</td>
                  <td>{{item.task}}</td>
                  <td>{{item.hours}}</td>
                  <td>{{item.details}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-3" style="background-color:#fafafa;border:1px solid #cccccc;min-width: 20%!important;text-align:center;padding: 0px;">
        <div class="w-100 ">
          <div id="actions" class="table-responsive w-100" style="padding: 5px 6px 0px 5px">
            <table id="action" class="table table-striped table-bordered table-hover">
              <thead class="tbl-head">
                <tr class="tr-grid-header">
                  <th>Assigned</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Returned</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of assetoverview">
                  <td>{{item.assigned}}</td>
                  <td>{{item.fromdate}}</td>
                  <td>{{item.todate}}</td>
                  <td class="text-center">
                    <mat-checkbox class="primary"></mat-checkbox>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row wrap">
      <div class="col-lg-8 header-band" style="min-width: 67.8%;">
        <div class="flex-p" style="text-align: center;margin-top: -10px!important;">
          <label style="text-align: center"><span>
              <h5 style="font-weight: bold;font-size: 17px;">Action Analytics</h5>
            </span></label>
        </div>
      </div>
    </div>
    <div class="row wrap">
      <div class="col-lg-4" style="background-color:#fafafa;border:1px solid #cccccc;margin-right: 15px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="text-align:center;">
          <div>
            <label style="font-size:14px;padding:3px;">Production Averages for Completed Actions:</label>
          </div>
          <div>
            <label style="padding:3px;font-size: 12px;font-weight: normal;"> Total Hours Assigned: 40</label>
          </div>
          <div>
            <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>Total Hours Actual: 40</span></label>
          </div>
          <div>
            <label style="font-size:14px;padding:3px;">Actual hours per 8 hours assigned (all work types):</label>
          </div>
          <div>
            <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>My Average: 9.0 hours </span></label>
          </div>
          <div>
            <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>IBW Average: 8.0 hours</span></label>
          </div>
          <div>
            <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>My Deviation:</span> <span style="color:red">-1.0 hours</span></label>
          </div>
        </div>
      </div>
      <div class="col-lg-4" style="background-color:#fafafa;border:1px solid #cccccc;text-align:center;">
        <div>
          <label style="font-size:14px;padding:5px;">Production Averages for Completed Actions per Category:</label>
        </div>
        <div>
          <label style="font-size:13px;padding:5px;">Actual hours per 8 hours assigned:</label>
        </div>
        <div>
          <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>My Legal Average: 9.0 hours </span></label>
        </div>
        <div>
          <label style="padding:px;font-size: 12px;font-weight: normal;"><span>IBW Legal Average: 8.0 hours</span></label>
        </div>
        <div>
          <label style="padding:4px;font-size: 12px;font-weight: normal;"><span>My Legal Deviation:</span> <span style="color:red">-1.0 hours</span></label>
        </div>
        <div>
          <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>My Construction Average: 9.0 hours </span></label>
        </div>
        <div>
          <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>IBW Construction Average: 8.0 hours</span></label>
        </div>
        <div>
          <label style="padding:4px;font-size: 12px;font-weight: normal;"><span>My Construction Deviation:</span> <span style="color:red">-1.0 hours</span></label>
        </div>
        <div>
          <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>My Engineering Average: 9.0 hours </span></label>
        </div>
        <div>
          <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>IBW Engineering Average: 8.0 hours</span></label>
        </div>
        <div>
          <label style="padding:3px;font-size: 12px;font-weight: normal;"><span>My Engineering Deviation:</span> <span style="color:red">-1.0 hours</span></label>
        </div>
      </div>
    </div>
    <div class="row wrap" style="padding-top: 7px;">
      <div class="col-lg-8 header-band" style="min-width: 67.8%;">
        <div class="flex-p" style="text-align: center;margin-top: -10px!important;">
          <label style="text-align: center"><span>
              <h5 style="font-weight: bold;font-size: 17px;">All of My Project Actions, Pending or Scheduled</h5>
            </span></label>
        </div>
      </div>
    </div>
    <div class="row wrap">
      <div class="col-lg-8" style="padding:0px">
        <div class="w-100 ">
          <div id="actions" class="table-responsive w-100" style="width: 101.8%!important;padding:0px">
            <table id="action" class="table table-striped table-bordered table-hover">
              <thead class="tbl-head">
                <tr class="tr-grid-header">
                  <th style="text-align:center!important">Project Number</th>
                  <th>Site</th>
                  <th>SOW</th>
                  <th>Task</th>
                  <th>Hours</th>
                  <th>Details</th>
                  <th>Assigned to</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of assignedactions">
                  <td style="text-align:center!important">{{item.projectnumber}}</td>
                  <td>{{item.site}}</td>
                  <td>{{item.sow}}</td>
                  <td>{{item.task}}</td>
                  <td>{{item.hours}}</td>
                  <td>{{item.details}}</td>
                  <td>{{item.assignedto}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
     
      </div>
    <div class="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
        <app-googlee-maps></app-googlee-maps>
      </div>
    </div>
  </div>
</div>  -->