.thead-color {
    background: #50636d !important;
    color: #fff !important;
}

.custom-heading {
    padding-bottom: 8px !important;
    padding-top: 13px !important;
    color: #fff !important;
    background: #4f758c !important;
    margin-top: 10px;
    margin-bottom: 11px;
}