::ng-deep .mat-checkbox-inner-container-no-side-margin {
    margin-left: 0;
    margin-right: 0;
    background: white;
}


    .inner-screen {
        color: #246ade !important;
        // text-decoration: underline !important;
        cursor: pointer;
    }
    