<mat-dialog-actions align="end">
    <mat-icon class="pull-right" (click)="close()" style="margin-bottom:8px; margin-right:-8px; cursor: pointer; color: red;">cancel</mat-icon>
    <!-- <button mat-raised-button class="pull-right add-dark-hover btn-default" (click)="close()" style="margin-bottom: 3px!important;">Close</button> -->

</mat-dialog-actions>
<div class="custom-dailog-content" mat-dialog-content>
    <div id="actions" class="table-responsive w-100 margin-top-10">
        <table id="action" class="table table-striped table-hover" style="border: 1px solid #dee2e6;">
            <tr>
                <th class="text-center" style="background:#50636d; color:#fff;" colspan="2">
                    View Details
                </th>
            </tr>
            <tr class="tr-grid-header">
                <th>Project</th>
                <td>5-12564</td>
            </tr>
            <tr class="tr-grid-header">
                <th>Site</th>
                <td>71 Mearns</td>
            </tr>
            <tr class="tr-grid-header">
                <th>SOW</th>
                <td>SRPR</td>
            </tr>
            <tr class="tr-grid-header">
                <th>Task</th>
                <td>Quote</td>
            </tr>
            <tr class="tr-grid-header">
                <th>Action</th>
                <td>Ops Internal Task</td>
            </tr>
            <tr class="tr-grid-header">
                <th>Plan Hours</th>
                <td>4hrs</td>
            </tr>
            <tr class="tr-grid-header">
                <th>Due Date</th>
                <td>2019-07-11</td>
            </tr>
        </table>
    </div>
</div>