.btn-success-help-job {
    background: #ecdf29 !important;
    color: black !important;
}
.inner-screen {
    color: #246ade !important;
    // text-decoration: underline !important;
    cursor: pointer;
}
div.file{
    position: relative;
    overflow: hidden;
  }
  input.file {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }
  .upload{
    margin-right: 10px;
    height: 41px;
    padding: 3px 9px 6px 7px!important;
    font-weight: 600;
  }
  .upload-icon{
    padding-top: 5px;
    padding-right: 30px!important;
    vertical-align: text-bottom;
  }