<div class="col-sm-12" style="padding-top: 20px;">
  <div class="row">
    <div class="col-sm-12">
        <mat-card class="row" style="background-color:#e8e8e8">
            <!-- <mat-card class="col-sm-7" style="background-color:white"> -->
              <div class="col-sm-7 no-padding">
                <button mat-raised-button class="col-sm-12 no-padding gray">2019-07-01</button>
              </div>
            <!-- </mat-card> -->
            <!-- <mat-card class="col-sm-7" style="background-color:white"> -->
              <div class="col-sm-7 no-padding">
                <button mat-raised-button class="col-sm-12 no-padding gray">2019-07-02
                  </button>
              </div>
            <!-- </mat-card> -->
            <!-- <mat-card class="col-sm-7" style="background-color:white"> -->
              <div class="col-sm-7 no-padding">
                <button mat-raised-button class="col-sm-12 no-padding gray">2019-07-03
                </button>
              </div>
            <!-- </mat-card> -->
            <!-- <mat-card class="col-sm-7" style="background-color:white"> -->
              <div class="col-sm-7 no-padding">
                <button mat-raised-button class="col-sm-12 no-padding gray">2019-07-04
                 </button>
              </div>
              
            <!-- </mat-card> -->
            <!-- <mat-card class="col-sm-7" style="background-color:white"> -->
              <div class="col-sm-7 no-padding">
                <button mat-raised-button class="col-sm-12 no-padding gray">2019-07-05
                  </button>
              </div>
              
            <!-- </mat-card> -->
            <!-- <mat-card class="col-sm-7" style="background-color:white"> -->
              <div class="col-sm-7 no-padding">
                <button mat-raised-button class="col-sm-12 no-padding gray">2019-07-06
                  </button>
              </div>
             
            <!-- </mat-card> -->
            <!-- <mat-card class="col-sm-7" style="background-color:white"> -->
              <div class="col-sm-7 no-padding">
                <button mat-raised-button class="col-sm-12 no-padding gray">2019-07-07
                  </button>
              </div>
            <!-- </mat-card> -->
          </mat-card>

      <mat-card class="row" style="background-color:#e8e8e8">
        <mat-card class="col-sm-7" style="background-color:white">
          <div class="col-sm-12 no-padding">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">PC-374</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule" (click)="openScheduleDialog(null)">AC-412
              2</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule" (click)="openScheduleDialog(null)">BG-144
              3</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">AS-524
              4</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available"  (click)="openScheduleDialogpopup(null)">QO-458
              5</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">SI-523
              6</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">SO-252
              7</button>
          </div>
        </mat-card>
        <mat-card class="col-sm-7" style="background-color:white">
          <div class="col-sm-12 no-padding">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">PC-374
              1</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">AC-412
              2</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">BG-144
              3</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">AS-524
              4</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">QO-458
              5</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">SI-523
              6</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">SO-252
              7</button>
          </div>
        </mat-card>
        <mat-card class="col-sm-7" style="background-color:white">
          <div class="col-sm-12 no-padding">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">PC-374
              1</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">AC-412
              2</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">BG-144
              3</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">AS-524
              4</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">QO-458
              5</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">SI-523
              6</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">SO-252
              7</button>
          </div>
        </mat-card>
        <mat-card class="col-sm-7" style="background-color:white">
          <div class="col-sm-12 no-padding">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">PC-374
              1</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">AC-412
              2</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">BG-144
              3</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">AS-524
              4</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">QO-458
              5</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">SI-523
              6</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">SO-252
              7</button>
          </div>
        </mat-card>
        <mat-card class="col-sm-7" style="background-color:white">
          <div class="col-sm-12 no-padding">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">PC-374
              1</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">AC-412
              2</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">BG-144
              3</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">AS-524
              4</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">QO-458
              5</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">SI-523
              6</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">SO-252
              7</button>
          </div>
        </mat-card>
        <mat-card class="col-sm-7" style="background-color:white">
          <div class="col-sm-12 no-padding">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">PC-374
              1</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">AC-412
              2</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">BG-144
              3</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">AS-524
              4</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">QO-458
              5</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">SI-523
              6</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">SO-252
              7</button>
          </div>
        </mat-card>
        <mat-card class="col-sm-7" style="background-color:white">
          <div class="col-sm-12 no-padding">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">PC-374
              1</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">AC-412
              2</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">BG-144
              3</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">AS-524
              4</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding schedule"  (click)="openScheduleDialog(null)">QO-458
              5</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">Asset
              6</button>
          </div>
          <div class="col-sm-12 no-padding padding-top">
            <button mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">SI-523
              7</button>
          </div>
        </mat-card>
      </mat-card>
    </div>

    <!-- <div class="col-sm-12 no-padding">
      <mat-card *ngFor="let item of mainArray" class="col-sm-7" style="margin-bottom:10px;">
        <button *ngIf="item == true" mat-raised-button class="col-sm-12 no-padding schedule" (click)="openScheduleDialogpopup(null)">Asset
          1</button>
        <button *ngIf="item == false" mat-raised-button class="col-sm-12 no-padding available" (click)="openScheduleDialogpopup(null)">Asset
          1</button>
      </mat-card>
    </div> -->
  </div>
</div>