<p>
  display-excel-records-status works!
</p>

<div fxLayout="row wrap" class="row flex-p" style="padding-left: 24px !important;">
  <div class="table-responsive" id="assetsgrid">
    <table id="example2" class="table table-bordered table-hover">
      <thead class="tbl-head">
        <tr>
          <th>Category</th>
          <th>Dealer</th>
          <th>Make</th>
          <th>Model</th>
          <th>Name</th>
          <th>Number</th>
          <th>PurchasePrice</th>
        </tr>
      </thead> 


      
      <tbody>
        <!-- <tr >
          <td>{{item.Category}}</td>
          <td>{{item.Dealer}}</td>
          <td>{{item.Make}}</td>
          <td>{{item.Model}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Number}}</td>
          <td>{{item.PurchasePrice}}</td>
        </tr> -->

        
      </tbody>
    </table>
  </div>
</div>


<div>
  <button type="button" class="btn btn-danger" ><i
    class="fa fa-times"></i>&nbsp;Close</button>
    <!-- (click)="errorModalToggle(null)" -->
  <button type="button" class="btn btn-primary" ><i
      class="fa fa-check"></i>&nbsp;Proceed Anyway</button>
      <!-- (click)="submitBulkUpload()" -->
</div>
