<p class="col-sm-12" style="margin-top: 20px !important;">
    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Name:</span>
    <span style="font-size: 16px; margin-right: 8px">Airport Initiative</span>
    <span style="font-size: 16px; margin-right: 8px">(Toronto Towers) </span>
</p>

<div class="row super-row" style="padding: 5px 24px 10px 23px">
    <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/overveiw" class="col-sm font-color">Overview
    <br />(2)</a>
    <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/activity" class="col-sm font-color">Activity
    <br />(20) </a>
    <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/invoices" class="col-sm font-color">Invoices
    <br />(15)</a>
    <!-- <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/sites" class="col-sm font-color">Sites
    <br />(4) </a> -->
    <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/sow" class="col-sm font-color">Manage
        <br />(4)
    </a>
    <!-- <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/tasks" class="col-sm font-color">Tasks
    <br />(48)</a> -->
    <!-- <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/actions" class="col-sm font-color">Actions
    <br />(96)</a> -->
    <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/hours" class="col-sm font-color">Hours
    <br />(102)</a>
    <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/expenses" class="col-sm font-color">Expenses
    <br />(204)</a>
    <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/budget" class="col-sm font-color">Budget
  </a>
    <a routerLinkActive="active-link" href="https://docs.google.com/document/u/0/" target="_blank" class="col-sm font-color">Docs
    <br />(96)</a>
    <a routerLinkActive="active-link" routerLink="/IBW/manage/project-dashboard/alerts" class="col-sm font-color">Alerts
    <br />(18)</a>
</div>

<div class="w-100">
    <div class="flex-p">
        <div class="row wrap">
            <div class="col-sm-12 no-padding">
                <router-outlet></router-outlet>

            </div>
        </div>
    </div>