<div class="row col-sm-12 no-padding" style="padding-left: 14px!important;">
    <ul style="margin: 0px 0px 20px 7px;" class="nav nav-pills ">
        <!-- <li>
                <a routerLink="/IBW/manage/quotes-dashboard/activity/activity-all" routerLinkActive="tabActive"  class="mat-raised-button tab">
                    <span class="mat-button-wrapper">
                        All (20)
                    </span>
                    <div class="mat-button-ripple mat-ripple" ></div>
                    <div class="mat-button-focus-overlay"></div>
                </a>
            </li> -->
        <li>
            <a routerLink="/IBW/manage/quotes-dashboard/activity/activity-notes" routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    All (10)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Quotes
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Research
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Field
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Calcs
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Drafting
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Quality Control
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Management
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Admin
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <!-- <li>
      <a routerLink="/IBW/manage/quotes-dashboard/activity/activity-submission" routerLinkActive="tabActive"  class="mat-raised-button tab">
          <span class="mat-button-wrapper">
              Submission (3)
          </span>
          <div class="mat-button-ripple mat-ripple" ></div>
          <div class="mat-button-focus-overlay"></div>
      </a>
  </li>
  <li>
    <a routerLink="/IBW/manage/quotes-dashboard/activity/activity-result" routerLinkActive="tabActive"  class="mat-raised-button tab">
        <span class="mat-button-wrapper">
           Result (2)
        </span>
        <div class="mat-button-ripple mat-ripple" ></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
</li> -->

    </ul>
</div>
<div class="col-sm-12" style="padding:0px!important">
    <router-outlet></router-outlet>
</div>