<div fxLayout="row wrap">
    <div class="w-100">
        <div class="flex-p">
            <div class="row wrap">
                <div class="col-xs-12">
                    <div class="col-sm-7" style="padding: 0px 0px 20px 0px !important;">
                        <button mat-raised-button class="pull-right add-hover-help-job btn-success-help-job" style="margin-left: 2px;">
                            <mat-icon>help_outline</mat-icon> Help
                        </button>
                        <button mat-raised-button class="pull-right add-hover btn-success margin-right-10" (click)="AddData(null, 'Survey Purpose')">
                            <mat-icon>add</mat-icon> Add Purpose
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive w-100 flex-p col-sm-7" style="padding: 0px !important;">
            <table id="example2" class="table table-bordered table-hover">
                <thead class="tbl-head">
                    <tr class="tr-grid-header">
                        <th>Survey Purpose</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Data">
                        <td>{{item.CommonMasterDataName}}</td>
                        
                        <td class="text-center">
                            <a matTooltip="Update Details" (click)="AddData(item, 'Survey Purpose')" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a (click)="deleteKanbanStage(item.CommonMasterDataId)">
                                <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete" class="fa fa-trash red"></i>
                            </a>
                        </td>
    
                    </tr>
              <td *ngIf="Data?.length == 0" colspan="2" style="text-align: center !important"> No data available </td>
                </tbody>
            </table>
        </div>
    </div>

</div>