
<div class="custom-header">
        <h3 style="font-weight: 300; margin-bottom: 10px !important;" mat-dialog-title>Add Delay Reason</h3>
      </div>

<div mat-dialog-content>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Delay Reason:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="text" placeholder="Enter Delay Reason">
            </div>
        </div>
    </form>
</div>

<mat-dialog-actions align="center" style="padding-top: 17px !important;">
        <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">
          <mat-icon>cancel</mat-icon>
          <span>&nbsp;Cancel</span>
        </button>
        <button mat-raised-button style="background: #286ba5 !important" class="add-hover btn-success" (click)="close()">
          <mat-icon>send</mat-icon>
          <span>&nbsp;Save</span>
        </button>
      </mat-dialog-actions>