<h2 class="example-h2" style="margin: 0px 0px 0px 15px;">
    Hours Summary</h2>
<small></small>

<div mat-dialog-content>
    <div class="form-horizontal" style="margin-top: 20px">
        <div class="col-sm-12">
            <div class="table-responsive w-100 flex-p" id="reviews" style="padding-left:0px!important;padding-right:0px!important">
                <table id="example2" class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>Week(23)</th>
                            <th>Hours</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-left: 5px!important;">Monday</td>
                            <td style="padding-left: 5px!important;">3</td>

                        </tr>
                        <tr>
                            <td style="padding-left: 5px!important;">Tuesday</td>
                            <td style="padding-left: 5px!important;">2</td>

                        </tr>
                        <tr>
                            <td style="padding-left: 5px!important;">Wednesday</td>
                            <td style="padding-left: 5px!important;">6</td>

                        </tr>
                        <tr>
                            <td style="padding-left: 5px!important;">Thursday</td>
                            <td style="padding-left: 5px!important;">3</td>

                        </tr>
                        <tr>
                            <td style="padding-left: 5px!important;">Friday</td>
                            <td style="padding-left: 5px!important;">2</td>

                        </tr>
                        <tr>
                            <td style="padding-left: 5px!important;">Saturday</td>
                            <td style="padding-left: 5px!important;">-</td>

                        </tr>
                        <tr>
                            <td style="padding-left: 5px!important;">Sunday</td>
                            <td style="padding-left: 5px!important;">-</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

        <mat-dialog-actions align="end" class="col-sm-12" style="margin-bottom: -10px;">

            <button mat-raised-button class="add-dark-hover btn-default" style="margin-right: 15px" (click)="close()">Close</button>
        </mat-dialog-actions>