<h1 mat-dialog-title>


    <span>Add</span>
    <span></span> Project</h1>

<div mat-dialog-content>

    <mat-horizontal-stepper #stepper>

        <mat-step [completed]="false" [stepControl]="profileFormGroup">
            <ng-template matStepLabel>Properties</ng-template>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Project Number:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="title" placeholder="Enter Project Number" value="5-185966" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Project Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="title" placeholder="Enter Project Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Project Type:</label>
                    <div class="col-sm-8">
                        <mat-select class='form-control' placeholder="--Select Project Type--">
                            <mat-option *ngFor="let option of projecttypeOptions" [value]="option">{{option}}</mat-option>
                        </mat-select>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Account Manager:</label>
                    <div class="col-sm-8">
                        <mat-select class='form-control' placeholder="--Select Account Manager--">
                            <mat-option *ngFor="let option of accountManager" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </div>
                </div>

            </div>
            <div class="pull-right row" style="margin-top:10px">
                <button style="margin-right: 28px;margin-left: 5px;" mat-raised-button class="btn-success" type="button" mat-button matStepperNext>Save & Continue</button>
            </div>
        </mat-step>
        <mat-step [completed]="false" [stepControl]="addressFormGroup">
            <ng-template matStepLabel>Client</ng-template>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Select Client:</label>
                    <div class="col-sm-6">

                        <mat-select class='form-control' placeholder="--Select Client--">
                            <mat-option *ngFor="let option of clientsOptions" [value]="option">{{option}}</mat-option>
                        </mat-select>

                    </div>
                    <div class="col-sm-2">
                        <mat-icon style="cursor:pointer">add</mat-icon>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label" for="pwd">Contact Name:</label>
                    <div class="col-sm-6">
                        <mat-select class='form-control' placeholder="--Select Contact Name--">
                            <mat-option *ngFor="let option of contactOptions" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </div>
                    <div class="col-sm-2">
                        <mat-icon style="cursor:pointer">add</mat-icon>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Contact Phone:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="phone" placeholder="Enter Contact Phone">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Contact Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" placeholder="Enter Contact Email">
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin-top:20px">
                <button mat-raised-button class="btn-default" type="button" mat-button matStepperPrevious>Back</button>
                <button style="margin-right: 12px;margin-left: 5px;" mat-raised-button class="btn-success" type="button" mat-button matStepperNext>Save & Continue</button>
            </div>
        </mat-step>
        <!-- <mat-step [completed]="false" [stepControl]="addressFormGroup">
            <ng-template matStepLabel>Important Details</ng-template>
            <div class="col-sm-12" style="margin-top: 10px">
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Fee:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="price" placeholder="Enter Fee">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Terms:</label>
                    <div class="col-sm-8">
                        <mat-select class='form-control' placeholder="--Select Terms--">
                            <mat-option *ngFor="let option of termOptions" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Project Creation Date:</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Select Date" class="form-control" bsDatepicker placement="bottom" [bsConfig]="{containerClass: 'theme-dark-blue',dateInputFormat: 'YYYY-MM-DD' }">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label" for="pwd">Account Manager:</label>
                    <div class="col-sm-8">
                        <mat-select class='form-control' placeholder="--Select Account Manager--">
                            <mat-option *ngFor="let option of pmOptions" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin-top:20px">
                <button mat-raised-button class="btn-default" type="button" mat-button matStepperPrevious>Back</button>
                <button style="margin-right: 12px;margin-left: 5px;" mat-raised-button class="btn-success" type="button" mat-button matStepperNext>Save & Continue</button>
            </div>
        </mat-step> -->

        <!-- <mat-step [completed]="false" [stepControl]="addressFormGroup">
            <ng-template matStepLabel>Address</ng-template>

            <div class="col-sm-12">


                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Country:</label>
                    <div class="col-sm-8">
                        <mat-select placeholder="--Select Country--" class="form-control">
                            <mat-option *ngFor="let option of countries" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Provice / State:</label>
                    <div class="col-sm-8">
                        <mat-select placeholder="--Select Province/State--" class="form-control">
                            <mat-option *ngFor="let option of provinceOptions" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label">Municipality:</label>
                    <div class="col-sm-8">
                        <mat-select placeholder="--Select Municipality--" class="form-control">
                            <mat-option *ngFor="let option of munipalityOptions" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label" for="pwd">City : </label>
                    <div class="col-sm-8">
                        <input class="form-control" placeholder="Enter City" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 add-member-label" for="pwd">Street Address: </label>
                    <div class="col-sm-8">
                        <textarea class="form-control txtarea" rows="2" placeholder="Enter Address" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin-top:20px">
                <button mat-raised-button class="btn-default" type="button" mat-button matStepperPrevious>Back</button>
                <button style="margin-right: 12px;margin-left: 5px;" mat-raised-button class="btn-success" type="button"
                    mat-button matStepperNext>Save & Continue</button>
            </div>
        </mat-step> -->
        <mat-step [completed]="false" [stepControl]="siteFormGroup">
            <ng-template matStepLabel>Sites</ng-template>
            <div class="col-sm-12 no-padding">
                <div class="flex-p">
                    <div class="row wrap">
                        <div class="col-sm-12">
                            <div class="pills w-100" style="padding-left: 6px!important;">
                                <ul class="nav nav-pills pull-right">
                                    <!-- <li [ngClass]="{'active': gridview==true}">
                                        <a (click)="settab('gridview')" style="margin-right: 8px;" mat-raised-button="gray"
                                            class="remove_top_bottom_padding mat-raised-button" tabindex="0"
                                            aria-disabled="false">
                                            <span class="mat-button-wrapper">
                                                Gridview
                                            </span>
                                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a>
                                    </li> -->
                                    <li [ngClass]="{'active': newsite==true}" class="pull-right">
                                        <a (click)="settab('newsite')" style="margin-right: 8px;" mat-raised-button="" class="remove_top_bottom_padding mat-raised-button" tabindex="0" aria-disabled="false">
                                            <span class="mat-button-wrapper">
                                                Add New Site
                                            </span>
                                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-6">
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="selectedLinks == 'gridview'">
                    <div class="">
                        <div fxLayout="wrap">
                            <div class="table-responsive margin-top-10">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead class="tbl-head">
                                        <tr class="tr-grid-header">
                                            <th class="min-width120">Site Name</th>
                                            <th class="min-width120">City</th>
                                            <th style="min-width: 135px">Provice / State</th>
                                            <th class="text-center">Status</th>
                                            <th style="min-width: 73px;" class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of sites">
                                            <td>{{item.sitename}}</td>
                                            <td>{{item.city}}</td>
                                            <td>{{item.state}}</td>
                                            <td class="pad-left inner-screen" style="text-align: center!important">
                                                <a (click)="item.status = ! item.status">
                                                    <span *ngIf="!item.status">Active</span>
                                                    <span *ngIf="item.status" style="color:red">Inactive</span>
                                                </a>
                                            </td>
                                            <td style="text-align: center!important">
                                                <a matTooltip="Edit Details" style="cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a>
                                                    <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete" class="fa fa-trash red"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="padding:0px 8px 0 0">
                        <button style="margin-left: 9px;" mat-raised-button class="btn-success pull-right" type="button" mat-button matStepperNext>Save & Continue</button>
                        <button mat-raised-button class="btn-default pull-right" type="button" mat-button matStepperPrevious>Back</button>
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="selectedLinks == 'newsite'">
                    <div class="row">
                        <div class="col-sm-12" style="padding:9px 30px 0 21px">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label col-sm-4 add-member-label">Site Name:
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Enter Site Name" required>
                                    </div>
                                    <label class="col-sm-2 control-label col-sm-4 add-member-label">Location:
                                    </label>
                                    <div class="col-sm-4">
                                        <!-- <mat-select placeholder="--Select Country--" class="form-control">
                                            <mat-option>Canada</mat-option>
                                            <mat-option>USA</mat-option>
                                        </mat-select> -->
                                        <ng4geo-autocomplete></ng4geo-autocomplete>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-sm-2 control-label col-sm-4 add-member-label">Provice /
                                        State: </label>
                                    <div class="col-sm-4">
                                        <mat-select placeholder="--Select Provice / State--" class="form-control">
                                            <mat-option>Ottawa</mat-option>
                                            <mat-option>British Columbia</mat-option>
                                            <mat-option>Brampton</mat-option>
                                            <mat-option>New Brunswick</mat-option>
                                            <mat-option>Newfoundland and Labrador</mat-option>
                                            <mat-option>Ontario</mat-option>
                                            <mat-option>Prince Edward Island</mat-option>
                                            <mat-option>Toronto</mat-option>
                                        </mat-select>
                                    </div>
                                    <label class=" col-sm-2 control-label col-sm-4 add-member-label">City: </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Enter City" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label col-sm-4 add-member-label">Postal / Zip:
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Enter Postal / Zip" required>
                                    </div>
                                    <label class=" col-sm-2 control-label col-sm-4 add-member-label">Street
                                        Address: </label>
                                    <div class="col-sm-4" style="padding: 0 8px!important;">
                                        <textarea class="form-control txtarea" rows="2" placeholder="Enter Address" autocomplete="off"></textarea>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="footer col-sm-12" style="padding-right:7px">
                        <mat-dialog-actions align="end">
                            <button mat-raised-button class="pull-right add-dark-hover btn-default" (click)="settab('gridview')" style="margin-bottom: 3px!important;">Cancel</button>
                            <button mat-raised-button class="pull-right add-hover btn-success" (click)="settab('gridview')"><span>Save
                                    Site</span></button>

                        </mat-dialog-actions>
                    </div>
                </div>

            </div>
        </mat-step>
        <mat-step [completed]="false" [stepControl]="sowFormGroup">
            <ng-template matStepLabel>SOW</ng-template>
            <div class="col-sm-12 no-padding">
                <div class="col-sm-4">
                    <mat-card class="mh-400 greyBackground">
                        <!-- <button mat-raised-button class="btn-primary col-sm-12" (click)="addNewSite()">ADD NEW SITE</button> -->
                        <div class="col-sm-12 no-padding">
                            <button mat-raised-button class="col-sm-12 no-padding" style="margin-top: 10px;    background: #50636d !important;color: #fff !important;">71
                                Mearns / 249</button>
                            <a matTooltip="Edit" (click)="addNewSite()" style="cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                <!-- <i class="fa fa-edit" style="font-size: 20px;margin-top: 15px;margin-left: 10px;"></i> -->
                            </a>
                            <!-- <a matTooltip="Delete">
                                    <i style="cursor: pointer;font-size:20px!important;" class="fa fa-trash red"></i>
                                </a> -->
                        </div>
                        <div class="col-sm-12 no-padding">
                            <button mat-raised-button class="col-sm-12 no-padding" style="margin-top: 10px;">Site 1</button>
                            <a matTooltip="Edit" (click)="addNewSite()" style="cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                <!-- <i class="fa fa-edit" style="font-size: 20px;margin-top: 15px;margin-left: 10px;"></i> -->
                            </a>
                            <!-- <a matTooltip="Delete">
                                    <i style="cursor: pointer;font-size:20px!important;" class="fa fa-trash red"></i>
                                </a> -->
                        </div>
                        <div class="col-sm-12 no-padding">
                            <button mat-raised-button class="col-sm-12 no-padding" style="margin-top: 10px;">Site 2</button>
                            <a matTooltip="Edit" (click)="addNewSite()" style="cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                <!-- <i class="fa fa-edit" style="font-size: 20px;margin-top: 15px;margin-left: 10px;"></i> -->
                            </a>
                            <!-- <a matTooltip="Delete">
                                    <i style="cursor: pointer;font-size:20px!important;" class="fa fa-trash red"></i>
                                </a> -->
                        </div>
                        <div class="col-sm-12 no-padding">
                            <button mat-raised-button class="col-sm-12 no-padding" style="margin-top: 10px;">Site 3</button>
                            <a matTooltip="Edit" (click)="addNewSite()" style="cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                <!-- <i class="fa fa-edit" style="font-size: 20px;margin-top: 15px;margin-left: 10px;"></i> -->
                            </a>
                            <!-- <a matTooltip="Delete">
                                    <i style="cursor: pointer;font-size:20px!important;" class="fa fa-trash red"></i>
                                </a> -->
                        </div>
                        <div class="col-sm-12 no-padding">
                            <button mat-raised-button class="col-sm-12 no-padding" style="margin-top: 10px;">Site 4</button>
                            <a matTooltip="Edit" (click)="addNewSite()" style="cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                <!-- <i class="fa fa-edit" style="font-size: 20px;margin-top: 15px;margin-left: 10px;"></i> -->
                            </a>
                            <!-- <a matTooltip="Delete">
                                    <i style="cursor: pointer;font-size:20px!important;" class="fa fa-trash red"></i>
                                </a> -->
                        </div>
                    </mat-card>
                </div>
                <div class="col-sm-8">
                    <mat-card *ngIf="isSiteAdding" class="">
                        <div mat-dialog-content>
                            <form>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 control-label col-sm-4 add-member-label bold">Site Name:
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="Enter client name" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 control-label col-sm-4 add-member-label bold">Country:
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-select placeholder="--Select Country--" class="form-control">
                                            <mat-option *ngFor="let option of countries" [value]="option">{{option}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 control-label col-sm-4 add-member-label bold">Provice /
                                        State: </label>
                                    <div class="col-sm-8">
                                        <mat-select placeholder="--Select Province/State--" class="form-control">
                                            <mat-option *ngFor="let option of provinceOptions" [value]="option">{{option}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 control-label col-sm-4 add-member-label">Municipality:
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-select placeholder="--Select Municipality--" class="form-control">
                                            <mat-option *ngFor="let option of munipalityOptions" [value]="option">{{option}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 control-label col-sm-4 add-member-label">City: </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="Enter City" type="text">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-4 control-label col-sm-4 add-member-label">Postal / Zip:
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="Enter Postal / Zip" type="text">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class=" col-sm-4 control-label col-sm-4 add-member-label">Street
                                        Address: </label>
                                    <div class="col-sm-8" style="padding: 0 8px!important;">
                                        <textarea class="form-control txtarea" rows="2" placeholder="Enter Address" autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="pull-right" style="margin-top:20px;margin-bottom: 5px;">

                                    <button mat-raised-button class="btn-default" type="button" (click)="Cancel()">Cancel</button>
                                    <button style="margin-right: 20px;margin-left: 5px;" mat-raised-button class="btn-success" type="button" mat-button>Save</button>
                                </div>
                            </form>
                        </div>
                    </mat-card>

                    <mat-card *ngIf="!isSiteAdding" style="height: 110px;margin-bottom: 20px;background: #0787f736;">
                        <div mat-dialog-content>
                            <div class="col-sm-12 no-padding">
                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-6 no-padding bold">Site Name: </div>
                                    <div class="col-sm-6 no-padding">71 Mearns / 249</div>
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-6 no-padding bold">Country: </div>
                                    <div class="col-sm-6 no-padding">Canada</div>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding" style="margin-top: 10px">
                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-6 no-padding bold">Province / State: </div>
                                    <div class="col-sm-6 no-padding">Ontario</div>
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-6 no-padding bold">Municipality: </div>
                                    <div class="col-sm-6 no-padding">Toronto</div>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding" style="margin-top: 10px">
                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-6 no-padding bold">City:</div>
                                    <div class="col-sm-6 no-padding">Toronto</div>
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-6 no-padding bold">Postal / Zip Code:</div>
                                    <div class="col-sm-6 no-padding">M4B 1B3</div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    <div class="col-sm-12 no-padding" *ngIf="!isSiteAdding">
                        <button mat-raised-button class="btn-primary col-sm-12" (click)="addFieldValue()">ADD NEW SOW</button>

                        <div class="col-sm-12 no-padding" style="margin-top: 20px;" *ngFor="let field of fieldArray; let i = index">
                            <input [(ngModel)]="field.subject" placeholder="Enter SOW Name" class="form-control col-sm-4 margin-right" type="text" name="{{field.subject}}" />

                            <mat-select placeholder="--Select Type--" class='form-control col-sm-3 margin-right' required>
                                <mat-option class='option' *ngFor='let option of typeOptions' [value]="option">{{option}}</mat-option>
                            </mat-select>
                            <label style="margin-left: 10px;">{{'0' | currency}}</label>
                            <!-- <input [(ngModel)]="field.subject" placeholder="Enter Budget" class="form-control col-sm-3 margin-right"
                                type="text" name="{{field.subject}}" /> -->
                            <a href="/#/IBW/manage/project-dashboard/sow/" style="background: #3971a0 !important; margin-left: 15px;margin-top:-4px !important;" target="_blank" mat-raised-button class="btn-success" mat-button>Setup Budget</a>
                            <!-- <input class="col-sm-4" type="file" multiple> -->
                            <a (click)="deleteFieldValue()">
                                <img src=".\assets\img\delete.png" style="width: 30px;padding-left: 14px;padding-top: 3px;">
                            </a>
                        </div>

                        <div class="pull-right" style="margin-top:20px">
                            <!-- <button mat-raised-button class="add-dark-hover btn-default"style="margin-right: 5px" (click)="close()">Cancel</button> -->

                            <button mat-raised-button class="btn-default" type="button" mat-button matStepperPrevious>Back</button>
                            <button style="margin-left: 5px;" mat-raised-button class="btn-success" type="button" mat-button matStepperNext>Save</button>
                        </div>
                    </div>

                </div>

            </div>

        </mat-step>

    </mat-horizontal-stepper>

</div>

<mat-dialog-actions align="start" style="margin-bottom: -15px;margin-right: 45px;">
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
    <button mat-raised-button class="btn-success">Save</button>
</mat-dialog-actions>

<!-- <mat-dialog-actions align="end">
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
    <button mat-raised-button class="add-hover btn-success" (click)="saveOpp()">
        <span>Save</span>
        <span></span>
    </button>
</mat-dialog-actions> -->