<h1 mat-dialog-title>Leave Details</h1>
    <div mat-dialog-content>
            <div class="form-horizontal">
                <div class="col-sm-12 no-padding">
                    <div class="table-responsive w-100 flex-p" id="reviews" style="padding-left:0px!important;padding-right:0px!important">
                        <table id="example2" class="table table-bordered table-hover table-striped">
                            <thead class="tbl-head">
                                <tr class="tr-grid-header">
                                    <th>Leave Type</th>
                                    <th class="text-center">Opening Balance</th>
                                    <th class="text-center">Eligibility</th>
                                    <th class="text-center">Used</th>
                                    <th class="text-center">Current Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding-left: 5px!important;">Vacation</td>
                                    <td class="text-center" style="padding-left: 5px!important;">5</td>
                                    <td class="text-center" style="padding-left: 5px!important;">15</td>
                                    <td class="text-center" style="padding-left: 5px!important;">10</td>
                                    <td class="text-center" style="padding-left: 5px!important;">10</td>
                                </tr>
                                <tr>
                                        <td style="padding-left: 5px!important;">PTO</td>
                                        <td class="text-center" style="padding-left: 5px!important;">1</td>
                                        <td class="text-center" style="padding-left: 5px!important;">2</td>
                                        <td class="text-center" style="padding-left: 5px!important;">1</td>
                                        <td class="text-center" style="padding-left: 5px!important;">2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
           
            </div>
        </div>
        
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions>