<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">
  
        <div class="row" style="margin-bottom:14px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                        <button mat-raised-button class="pull-right add-hover-help-anno btn-success-help-anno" style="margin-left: 10px;">
                                <mat-icon>help_outline</mat-icon> Help
                            </button>
                    <button mat-raised-button class="pull-right add-hover btn-success" (click)="AddAnnouncementsDialog()" >
                        <mat-icon>announcement</mat-icon> Add Announcement
                    </button>
                    <!-- <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button> -->
                </div>
            </div>
        </div>
  
       
  
        <div fxLayout="row wrap">
            <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Notification Type</th>
                            <th class="text-center">Status</th>
                            <th>Published Date</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of announcements">
                        <td>{{item.subject}}</td>
                        <td>{{item.message}}</td>
                        <td>{{item.notificationType}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.publishedDate}}</td>
                        <td class="text-center">
                            <a matTooltip="Edit Details" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1" >
                                <i class="fa fa-edit"></i>
                            </a>
                            <a matTooltip="Delete" style="margin-right: 10px; cursor: pointer;" >
                                <i class="fa fa-trash red"></i>
                            </a>
                            <a [matTooltip]="item.toolTip" style="cursor: pointer;color:#0987e8d1"><i class="fa fa-upload"></i></a>
                        </td>
  
                      </tr>
                      
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
  </div>
  