<div class="col-sm-12">

    <ul style="margin: 0px 0px 20px 0px;" class="nav nav-pills ">
        <!-- <li>
            <a routerLink="/IBW/manage/project-dashboard/activity/activity-all" routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    All (20)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li> -->
        <li>
            <a routerLink="/IBW/manage/project-dashboard/activity/activity-notes" routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Notes (10)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
                <a routerLinkActive="tabActive" class="mat-raised-button tab">
                    <span class="mat-button-wrapper">
                        Quotes (5)
                    </span>
                    <div class="mat-button-ripple mat-ripple"></div>
                    <div class="mat-button-focus-overlay"></div>
                </a>
            </li>
        <li>
            <a  routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Office Work (1)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a  routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Field Work (1)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a  routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Expenses (1)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a  routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Assets (1)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        <li>
            <a  routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Delivery (1)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
        
        <li>
            <a routerLinkActive="tabActive" class="mat-raised-button tab">
                <span class="mat-button-wrapper">
                    Billing (1)
                </span>
                <div class="mat-button-ripple mat-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </li>
    </ul>
</div>
<div class="col-sm-12 no-padding">
    <router-outlet></router-outlet>
</div>