<p class="col-sm-12" style="margin-top: 20px;padding-left: 8px;">
    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Quote Number:</span>
    <span style="font-size: 16px; margin-right: 8px">Q-190001</span>
    <span style="font-size: 16px; margin-right: 8px">(Toronto Towers) </span>

</p>

<div class="row super-row col-sm-12" style="padding: 10px 15px 20px 0px;margin-left: 6px;">
    <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/activity" class="col-sm font-color">Activity
        <br />(2)</a>
    <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/overveiw" class="col-sm font-color">Properties
      </a>
    <!-- <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/sites" class="col-sm font-color">Sites
    <br/>(4) </a> -->
    <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/sow" class="col-sm font-color">Budget
    </a>

    <!-- <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/budget" class="col-sm font-color">Budget
    </a> -->

    <!-- <a routerLinkActive="active-link" class="col-sm font-color disabled-class">Tasks
      <br/>(8)</a>
    <a routerLinkActive="active-link" class="col-sm font-color disabled-class">Actions
      <br/>(96)</a> -->
      <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/hours" class="col-sm font-color">Hours
        <br />(102)</a>
    <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/expenses" class="col-sm font-color">Expenses
        <br />(204)</a>
   
    <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/invoices" class="col-sm font-color">Invoices
   </a>
    <a routerLinkActive="active-link" href="https://docs.google.com/document/u/0/" target="_blank" class="col-sm font-color">Docs
        <br />(96)</a>
    <a routerLinkActive="active-link" routerLink="/IBW/manage/quotes-dashboard/alerts" class="col-sm font-color">Alerts
        <br />(18)</a>
</div>

<div class="col-sm-12 no-padding">
    <router-outlet></router-outlet>
</div>